<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <%= render 'page_header', taxon: @taxon %>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'products_categories', taxonomies: @taxonomies %>
        <%= render 'price_search' %>
        <%= render 'color_search' %>
        <%= render 'size_search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_view' %>
        <%= render 'product_box', products: @products %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <%= render 'partner_image_list' %>
</section>
