<div class="media">
  <div class="media-left productSlider">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% product.images.each_with_index do |image, idx| %>
          <div class="item <%= "active" if idx.zero? %>" data-thumb="<%= idx %>">
            <%= image_tag image.attachment.url(:large) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clearfix">
      <div id="thumbcarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <% product.images.each_with_index do |image, idx| %>
            <div data-target="#carousel" data-slide-to="<%= idx %>" class="thumb">
              <%= image_tag image.attachment.url(:small) %>
            </div>
          <% end %>
          <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="media-body">
    <ul class="list-inline">
      <%= link_to potepan_category_path(product.taxons.first.id) do %>
        <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</li>
      <% end %>
    </ul>
    <h2><%= product.name %></h2>
    <h3><%= product.display_price %></h3>
    <p><%= product.description %></p>
    <% if product_option_types.present? %>
      <span class="quick-drop">
        <% product_option_types.each do |product_option_type| %>
          <select name="guiest_id3" id="guiest_id3" class="select-drop">
            <%= options_from_collection_for_select(product_option_type.option_values, :id, :presentation) %>
          </select>
        <% end %>
      </span>
    <% end %>
    <span class="quick-drop resizeWidth">
      <select name="guiest_id4" id="guiest_id4" class="select-drop">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </span>
    <div class="btn-area">
      <a href="/potepan/cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    <div class="tabArea">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">details</a></li>
        <li><a data-toggle="tab" href="#about-art">about art</a></li>
        <li><a data-toggle="tab" href="#sizing">sizing</a></li>
        <li><a data-toggle="tab" href="#shipping">shipping</a></li>
      </ul>
      <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="list-unstyled">
            <li>Black, Crew Neck</li>
            <li>75% Cotton, 25% Rayon</li>
            <li>Waterbased Ink</li>
            <li>Wash Cold, dry low</li>
          </ul>
        </div>
        <div id="about-art" class="tab-pane fade">
          <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis condimentum nibh dolor ut tortor. Donec egestas tortor quis mattis gravida. Ut efficitur elit vitae dignissim volutpat. </p>
        </div>
        <div id="sizing" class="tab-pane fade">
          <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam varius cursus nisi, sed elementum sem sagittis at. Nulla tellus massa, vestibulum a commodo facilisis, pulvinar convallis nunc.</p>
        </div>
        <div id="shipping" class="tab-pane fade">
          <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
