<% provide(:title, @product.name ) %>
<!-- LIGHT SECTION -->
<%= render 'light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <%= render 'main_section', product: @product , product_option_types: @product_option_types %>
      </div>
      <div class="row productsContent">
        <%= render 'related_products_list', related_products: @related_products %>
      </div>
    </div>
  </div>
</section>

